include LICENSE.txt
include README.md
include requirements.txt
recursive-include next_service_engine *
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude next_service_engine.egg-info *